@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  min-height: 100dvh;
  font-family: system-ui, sans-serif;
  @apply flex flex-col items-center justify-between;
}

.frame {
  @apply px-5 md:px-48 py-5;
}
